<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1>
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quod ducimus officiis non. Atque odio
                nulla aliquam itaque temporibus similique, quae, animi commodi blanditiis voluptate harum. Incidunt
                consequuntur tempora voluptates!</p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1>
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quod ducimus officiis non. Atque odio
                nulla aliquam itaque temporibus similique, quae, animi commodi blanditiis voluptate harum. Incidunt
                consequuntur tempora voluptates!</p>
        </ul>
    </div>
</div>