<body id="contact"></body>
       <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Localización</h4>
                        <p class="lead mb-0">
                            Córdoba capital
                            <br />
                            Argentina
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Redes Sociales</h4>
                        <a href="https://www.linkedin.com/in/enzoeduardobruno/" target="_blank"><img src="../../../assets/linkedin.png " hspace="5" id="linkedin"></a>
                        <a href="https://github.com/EnzoEduardoBruno"target="_blank"><img src="../../../assets/github.png" id="github"></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">Contacto</h4>
                        <p class="lead mb-0">
                            enzoeduardobruno@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy; Enzo Eduardo Bruno 2022</small></div>
        </div>