@media (min-width: 576px){
    #linkedin{
    width: 50px;
    }
}
@media (max-width: 575px){
    #linkedin{
        width: 35px;
    }
}
@media (min-width: 576px){
    #github{
    width: 50px;
    }
}
@media (max-width: 575px){
    #github{
        width: 35px;
    }
}