<div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <section class="section gray-bg" id="resume">
                <div class="container">
                        <section class="experiencia" id="experiencia">
                            <div class="container">
                                <!-- Experiencia Section Heading-->
                                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">experiencia laboral</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><img src="../../../assets/APLogoAzul.png" id="logoAP"></div>
                                    <div class="divider-custom-line"></div>
                                </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 m-15px-tb">
           <div class="resume-box">
            <div class="col-lg-12">
                <button type="button" class="btn boton-azul" routerLink="/nuevaexp" *ngIf="isLogged">
                    Agregar
                </button>
                <tbody>
                    <tr *ngFor="let Experiencia of expe">
                        <td>
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="fas fa-briefcase"></i>
                            </div>
                                <td>
                                <span class="time">{{Experiencia.timeE}}</span>
                                    
                                    <h5>{{Experiencia.nombreE}}</h5>
                                    <h6>{{Experiencia.puestoE}}</h6>
                                    <p>{{Experiencia.descripcionE}}</p>
                                </td>
                        </li>
                    </ul>
                    <td *ngIf="isLogged">
                        <button class="btn boton-azul" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i></button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn boton-rojo" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
    </div>

</div>                    