div{
    background-color: #1d2226;
    color: white
}

.row{
    padding: 20px;
}

.contenedor{
    width: auto;    
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 30px white;
}