<div class="row">
    <h1 class="text-center">Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'HTML 5'"
        [titleColor]="'White'"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'CSS 3'"
        [titleColor]="'White'"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'JavaScript'"
        [titleColor]="'White'"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'TypeScript'"
        [titleColor]="'White'"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'Bootstrap'"
        [titleColor]="'White'"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'Angular'"
        [titleColor]="'White'"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'Problem resolution'"
        [titleColor]="'White'"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'Critical thinking'"
        [titleColor]="'White'"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'Communication'"
        [titleColor]="'White'"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'Self learning'"
        [titleColor]="'White'"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'Responsibility'"
        [titleColor]="'White'"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'Time management'"
        [titleColor]="'White'"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
</div>