        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="hys">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Hard and Soft Skills</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><img src="../../../assets/APLogoAzul.png" id="logoAP"></div>
                    <div class="divider-custom-line"></div>
                </div>