<body id="page-top"></body>
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <img class="img-fluid" src="../../../assets/perfilPhoto.png" alt="Foto de perfil" id="fotodeperfil" />
    <!-- Masthead Heading-->
    <p class="masthead-heading text-uppercase mb-0" id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
    <h2 class="page-section-heading text-center text-uppercase text-white">Sobre Mi</h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><img src="../../../assets/APLogo.png" id="logoAP"></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <h2 class="masthead-subheading font-weight-light mb-0">Full stack web developer</h2>
    <h6>Mi nombre es Enzo tengo 28 años, vivo en Córdoba, Argentina. Actualmente estoy estudiando una tecnicatura en
      programacion en Teclab, Realice un bootcamp de desarrollo web full stack en Argentina Programa y empece otro
      bootcamp de desarrollo web en ONE - Oracle Next Education | Alura Latam. Me gusta aprender, sobre todo lo que esté
      relacionado al desarrollo de software por lo que realice varios cursos, entre ellos de testing manual en la UTN -
      FRBA tambien cursos de testing automatizado y programación en diversas plataformas. Estoy en búsqueda de mi primer
      trabajo formal como tester de software, o desarrollador trainee.</h6>
  </div>
</header>