<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/perfilPhoto.png" class="img-fluid" id="fotodeperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Enzo Eduardo Bruno</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí</h1>
      <p>Mi nombre es Enzo tengo 27 años, vivo en Córdoba, Argentina. Soy tester Qa Jr manual, también estoy aprendiendo
        sobre automatización, actualmente estoy estudiando desarrollo web e inglés en Argentina Programa. Me gusta
        aprender, sobre todo lo que este relacionado al desarrollo de software por lo que realice varios cursos, entre
        ellos de testing y programación en diversas plataformas.
        Estoy en búsqueda de mi primer trabajo formal en el sector, ya sea como tester o desarrollador web.</p>
    </span>
  </div>
</div>