<body id="page-top"></body>
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <button type="button" class="btn boton-azul" routerLink="/editacercade/1" *ngIf="isLogged">
      <i class="bi bi-pencil-fill"></i>
  </button>
    <!-- Masthead Avatar Image-->
    <img class="img-fluid" src={{persona.img}} alt="Foto de perfil" id="fotodeperfil" />
    <br>
    <!-- Masthead Heading-->
    <p class="masthead-heading text-uppercase mb-0" id="nombre">{{persona.nombre}} {{persona.apellido}}</p><br><br>
    <h2 class="page-section-heading text-center text-uppercase text-white">Sobre Mi</h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><img src="../../../assets/APLogo.png" id="logoAP"></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <h2 class="masthead-subheading font-weight-light mb-0">{{persona.titulo}}</h2><br>
    <p class="row">{{persona.descripcion}}</p>
  </div>
</header>