@media (min-width: 576px){
    #logoAP{
    width: 60px;
    }
}
@media (max-width: 575px){
    #logoAP{
        width: 35px;
    }
}
@media (min-width: 576px){
    #linkedin{
    width: 50px;
    }
}
@media (max-width: 575px){
    #linkedin{
        width: 35px;
    }
}
@media (min-width: 576px){
    #github{
    width: 50px;
    }
}
@media (max-width: 575px){
    #github{
        width: 35px;
    }
}
@media (min-width: 576px){
    #login{
    width: 50px;
    }
}
@media (max-width: 575px){
    #login{
        width: 35px;
    }
}
@media (min-width: 576px){
    #logout{
    width: 50px;
    }
}
@media (max-width: 575px){
    #logout{
        width: 35px;
    }
}
button{
    background-color: transparent;
    border: none;
    outline: none;
    }
 .navbar .center{
        align-items: center;
 }   